[submodule "modules.d/revolver"]
	path = modules.d/revolver
	url = https://github.com/theanalyst/revolver.git
[submodule "modules.d/powerline"]
	path = modules.d/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "modules.d/powerline-evil"]
	path = modules.d/powerline-evil
	url = https://github.com/raugturi/powerline-evil.git
[submodule "toodledo"]
	path = modules.d/toodledo
	url = https://github.com/christopherjwhite/org-toodledo.git
[submodule "modules.d/calfw"]
	path = modules.d/calfw
	url = https://github.com/kiwanami/emacs-calfw
[submodule "modules.d/helm-cscope"]
	path = modules.d/helm-cscope
	url = https://github.com/sergey-pashaev/helm-cscope.git
[submodule "modules.d/itail"]
	path = modules.d/itail
	url = https://github.com/re5et/itail.git
[submodule "modules.d/helm-cmd-t"]
	path = modules.d/helm-cmd-t
	url = https://github.com/emacs-helm/helm-cmd-t.git
[submodule "modules.d/buffer-timer"]
	path = modlules.d/buffer-timer
	url = https://github.com/hardaker/elisp-buffer-timer.git
[submodule "modules.d/Pymacs"]
	path = modules.d/Pymacs
	url = https://github.com/dgentry/Pymacs
