[submodule "lib/revolver"]
	path = lib/revolver
	url = https://github.com/theanalyst/revolver.git
[submodule "lib/Pymacs"]
	path = lib/Pymacs
	url = https://github.com/pinard/Pymacs.git
[submodule "lib/powerline"]
	path = lib/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "lib/powerline-evil"]
	path = lib/powerline-evil
	url = https://github.com/raugturi/powerline-evil.git
[submodule "toodledo"]
	path = lib/toodledo
	url = https://github.com/christopherjwhite/org-toodledo.git
[submodule "lib/calfw"]
	path = lib/calfw
	url = https://github.com/kiwanami/emacs-calfw
[submodule "lib/helm-cscope"]
	path = lib/helm-cscope
	url = https://github.com/sergey-pashaev/helm-cscope.git
[submodule "lib/itail"]
	path = lib/itail
	url = https://github.com/re5et/itail.git
[submodule "lib/helm-cmd-t"]
	path = lib/helm-cmd-t
	url = https://github.com/emacs-helm/helm-cmd-t.git
[submodule "lib/buffer-timer"]
	path = lib/buffer-timer
	url = https://github.com/hardaker/elisp-buffer-timer.git
